.vscode/
*/.metadata/
external/*/
*.obj
*.o
*.so
*.tlog
*.log
*.lib
*.pdb
*.exp
*.dll
*.idb
*.ilk
*.sdf
*.exe
*.lib
*.suo
*.user
*.lst
*.a
*.ko
*.ko.cmd
*.o.cmd
*.mod
*.mod.c
**/*.ko
**/*.ko.cmd
**/*.o.cmd
**/*.mod
**/*.mod.c
*.Po
*.Plo
*.in~
*.m4
**/__pycache__/
/**/*.obj
/**/*.o
/**/*.o.d
/**/*.tlog
/**/*.lib
/**/*.pdb
/**/*.exp
/**/*.dll
/**/*.idb
/**/*.ilk
/**/*.sdf
/**/*.exe
/**/*.lib
/**/*.suo
/**/*.user
/**/*.a
/**/*.ko
/**/*.ko.cmd
/**/*.o.cmd
/**/*.mod
/**/*.mod.cmd
/**/*.symvers.cmd
/**/*.modules.order.cmd
/**/*.mod.c
/**/*.lo
/**/*.la
/**/*.Po
/**/Kbuild
/**/.libs/
/**/tmpsrc/
/**/.deps/
/**/.deps/*
.tmp_versions
**/.tmp_versions
**/modules.order
**/Module.symvers
/doxydoc/html/
/**/obj/
ethercatslaveif


















